<form method="post" action="{{path('app_produit_delete', {'id': detail.id}) }}" onsubmit="return confirm('Confirmer la suppression du produit ?');">
    <input type="hidden" name="_token" value="{{csrf_token('delete' ~ detail.id) }}">
    <button class="a-btn-2"style="background: rgba(255, 255, 255, 0.1);">Supprimer</button>
</form>